---
import ReactCounter from '../components/ReactCounter';
import { AngularCounterComponent } from '../components/angular-counter.component';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
  <section class="flex flex-col w-7/12 gap-4">
    <h1 class="text-6xl text-primary font-bold">About me</h1>
    <ReactCounter client:visible />
    <AngularCounterComponent name="Franck" client:visible />
    <p class="text-xl text-base-content">
      Est aliquip sint duis culpa. Cupidatat quis enim enim et dolore ullamco.
      Minim et eu est reprehenderit aliquip nostrud esse commodo laboris. Mollit
      enim cillum fugiat Lorem. Nulla irure sint amet Lorem. Ea in nisi laborum
      quis. Quis cupidatat cupidatat id est consectetur tempor incididunt eu id
      cupidatat.
    </p>
    <p class="text-xl text-base-content">
      Labore pariatur aute eu sunt reprehenderit aute adipisicing nostrud duis
      qui deserunt. Quis occaecat id amet qui veniam ipsum cupidatat est.
      Voluptate exercitation et culpa culpa magna deserunt sint dolore elit
      officia occaecat reprehenderit sunt enim. Officia aute Lorem quis
      consequat consectetur incididunt exercitation amet laboris ullamco sit
      ipsum quis quis. Ullamco cillum duis cupidatat consectetur quis culpa
      magna culpa ullamco Lorem id.
    </p>
    <p class="text-xl text-base-content">
      Aliqua elit elit consequat sint nostrud et nisi qui ullamco officia. Nisi
      eu dolore consequat nisi aliquip sint laboris id esse. Nostrud quis
      exercitation irure sit nisi est enim pariatur et irure elit ut excepteur
      velit. Ipsum dolore non dolor tempor ipsum ipsum incididunt cupidatat
      laborum mollit nostrud nisi. Amet mollit officia voluptate nulla. Qui in
      ea sint nisi non id eu laboris anim nisi aliquip.
    </p>
  </section>
</Layout>
